{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <h1>{% trans "Welcome to Pinax" %}</h1>
            <p>
                {% blocktrans %}
                <b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a>
                project intended to provide a starting point for websites. By
                integrating numerous reusable Django apps to take care of the
                things that many sites have in common, it lets you focus on what
                makes your site different.
                {% endblocktrans %}
            </p>

            <h2>About Social Auth Project</h2>
            <p>
                {% blocktrans %}
                This project is similar to pinax-project-account in providing a foundation for
                sites that have user accounts but it differs in supporting social
                authentication rather than local password based authentication.
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            {% if not user.is_authenticated %}
                <div class="text-center">
                    <a class="btn btn-default btn-lg" href="{% url "social:begin" "twitter" %}">
                        <i class="fa fa-twitter"></i> Log in with Twitter
                    </a>
                    <a class="btn btn-default btn-lg" href="{% url "social:begin" "facebook" %}">
                        <i class="fa fa-facebook-square"></i> Log in with Facebook
                    </a>
                    <a class="btn btn-default btn-lg" href="{% url "social:begin" "google-oauth2" %}">
                        <i class="fa fa-google"></i> Log in with Google
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
